@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
p, label {
  font-family: 'Lato', sans-serif;
}
html {
  background-color: #474747;
}
.top {
  background-color: #474747;
}
.top .navbar-brand {
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0 0px;
  background-color: #CCC;
  color: #474747;
  text-decoration: none;
}
.top .container {
  padding: 0;
}
.banner {
  height: 90px;
  line-height: 90px;
  background-color: #373737;
}
.banner .container {
  height: 90px;
  line-height: 90px;
  background-color: #009b9b;
  padding: 0px 0px 0px 0px;
}
.banner .container h1 {
  padding-left: 20px;
  font-weight: 300;
}
.middle {
  background-color: #CCC;
}
.middle .container {
  background-color: #FFF;
  min-height: 300px;
  padding-bottom: 20px;
}
.middle .container form {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
}
.navbar-nav li a {
  color: #CCC;
  font-family: 'Lato', sans-serif;
}
.navbar-nav li a:hover {
  background-color: #373737;
}
.bottom {
  background-color: #474747;
}
.bottom .container {
  background-color: #373737;
  min-height: 150px;
}
.bottom .container h3 {
  color: #999;
}
.bottom .container p {
  color: #666;
}
.navbar-toggle {
  color: #009b9b;
  font-size: 32px;
  margin: 3px;
  padding: 2px 5px;
  line-height: 32px;
}
.navbar-toggle:hover {
  background-color: #000F0F;
}
.navbar-nav {
  margin: 0;
}
.content p {
  line-height: 30px;
  font-size: 16px;
}
.red {
    color: #EB4956;
}
.btn-primary {
  color: #FFFFFF;
  background-color: #009B9B;
  border-color: #008989FF;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:visited,
.btn-primary:focus
.open .dropdown-toggle.btn-custom {
  color: #FFFFFF;
  background-color: #008989FF;
  border-color: #008989FF;
}
.nopad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid transparent;
  margin-bottom: 0;
  outline: 0;
}
.image-checkbox input[type="checkbox"] {
  display: none;
}
.image-checkbox-checked {
  border-color: #4783B0;
}
.image-checkbox-checked .fa {
  color: #373737;
  display: block !important;
}
.mark-bar {
  background-color: #009b9b;
}
.fa-bookmark div {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
}
.fa-check div {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
}
.fa {
  color: #CCC;
}
.crop {
    width: 185px ;
    height: 270px;
    overflow: hidden;
}
