<!DOCTYPE html>
{% load static bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Snug as a bug in a couch</title>

        <script type="text/javascript">
          var list_manager = {
            URLS: {
              search: "{% url 'list_manager:search' %}",
            }
          }
        </script>

        <script src="{% static 'list_manager/js/main.js' %}"></script>
        <link rel="stylesheet" href="{% static 'list_manager/css/main.css' %}" type="text/css" />
    </head>
    <body>
        <header class="top" role="header">
          <div class="container">
            <a href="#" class="navbar-brand pull-left"><img src="{% static 'list_manager/img/logo.png' %}" height="50px" alt="saabiac"></a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <nav class="navbar-collapse collapse" role="navigation">
              <ul class="navbar-nav nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
          </div>
        </header>
        <div class="banner">
          <div class="container">
            <h1>Movie list manager</h1>
          </div>
        </div>
        <div class="middle">
            <div class="container">
                <h1>Search</h1>
                <div class="row">
                    <div class="col-md-4">
                        <form action="{% url 'list_manager:search' %}" method="post" enctype="multipart/form-data" class="form" id="query-form">
                            {% csrf_token %}
                            {% bootstrap_field form.filters_choices %}
                            {% bootstrap_field form.search %}

                            {% bootstrap_button "Query TMDB" button_type="submit" button_class="btn-primary btn-custom" icon="search" %}
                        </form>
                            {% bootstrap_form_errors form layout='inline' %}
                    </div>
                </div>
                <h1>Choose</h1>
                <div class="row">
                    <div class="col-md-4">
                        <form action="{% url 'list_manager:mark' %}" method="post" enctype="multipart/form-data" class="form">
                            {% csrf_token %}
                            {% bootstrap_form choices_form %}

                            {% bootstrap_button "Seen" button_type="submit" name="seen" button_class="btn-primary" icon="check" %}
                            {% bootstrap_button "Wanna see" button_type="submit" name="wannasee" button_class="btn-primary" icon="list" %}
                        </form>
                            {% bootstrap_form_errors form layout='inline' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
          <div class="container">
            <div class="col-md-4">
              <h3><span class="glyphicon glyphicon-heart red"></span> Made with love</h3>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h3><span><a href="http://www.freepik.com">Designed by Freepik</a></span></h3>
            </div>
          </div>
        </div>
    </body>
</html>
